@import 'variables';

.search-input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: $text;
  padding: $spacing-sm $spacing-md;
  border-radius: 2px;
  width: 100%;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);

  &::placeholder {
    color: $gray;
  }

  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
  }
}